.App {
  text-align: center;
}
body{
  justify-content: center;
  background-image: url("/public/passman.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:150vh;
}
.logo{
  width: 220px;
  padding-top: 10px;
}
.inpbox{
  border-radius: 20px;
  padding: 6px;
  width: 510px;
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 3px 30px rgba(11, 180, 157, 0.293); 
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.701);
}
.inpbox:hover{
  box-shadow: none;
  background-color: rgba(232, 239, 236, 0);
  
}
.inpbox:hover::placeholder{
  color:rgb(255, 255, 255);
}
.gitlogo{
  padding-right: 30px;
  max-width: 170px;
}
.savebtn{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(6, 138, 87);
  border-radius: 20px;
  padding: 6px;
  font-size: 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  font-weight: bold;
  
}
.savebtn:hover{
  background-color: rgba(0, 0, 0, 0.701);
  font-size: 21px;
}
.savebtn .lrd{
  width: 34px;   /* Increase or decrease as needed */
  height: 33px;
  margin-right: 3px; /* spacing between icon and text */
  vertical-align: middle;
}